cmake_minimum_required(VERSION 3.18)
project(PROJECT_NAME)

set(CMAKE_EXPORT_COMPILE_COMMANDS ON)

set(CMAKE_CXX_STANDARD 20)
set(CMAKE_CXX_FLAGS "-O2")

{% for entity in root_entities %}add_subdirectory({{ entity.name() }}/)
{% endfor %}
